{{template "t"}}
<div class="box">
	<h2 class="is-size-2">API Flattener</h2>
	This attempts to make a table out of JSON objects. Will work for most uncomplicated JSON structures, but won't work for all due to JSON can be any shape.
	If you see [object Object] that's probably an array or more JSON that the program didn't attempt to flatten into a table. Click GET API to get started.
</div>

<form class="box" onsubmit="apiflattener.getApi(event)">
	<div class="field is-grouped">
		<button class="button is-primary">GET API</button>
		<input name="API" class="input col-span-2" type="text" placeholder="API URL" value='https://datausa.io/api/data?drilldowns=Nation&measures=Population' required>
	</div>
</form>

<div id="tree" class="box hide-empty"></div>
<div id="sheet" class="box hide-empty table-container"></div>
{{template "b"}}