{{template "t"}}
<script>
	hljs.configure({languages:['javascript', 'typescript', 'python', 'go', 'bash']})
	codeInput.registerTemplate("syntax-highlighted", codeInput.templates.hljs(hljs, [new codeInput.plugins.AutoCloseBrackets(), new codeInput.plugins.Autodetect(), new codeInput.plugins.Indent(true, 4)]))
</script>
<div class="box">
	<h2 id="lang" class="is-size-2">Code Executor: go</h2>
	<button fx-method="POST" fx-action="/codeexec" fx-target="#output" fx-vals='js:{lang: me("#lang").innerText.split(": ")[1], code: me("#code").innerText}' class="button is-primary mr-2">Run</button>
	<button class="button is-warning" id="clear">Clear Output
		<script>me().on('click', _=>{me('#output').innerText = ''})</script>
	</button>
	<pre class="mt-2" style="white-space: pre-wrap;"><code id="output">Options: javascript, typescript, python, go, bash
Usage: Executor will display the language as user types into the below box. Execute the code with the Run button above.</code></pre>
</div>
<code-input id="code" language="go" placeholder="CODE HERE" style="height: 70vh" value='// Click here and start typing.
package main

import (
	"fmt"
	"strconv"
	"time"
)

var toInt = map[bool]int{true: 1, false: 0}

func main() {
	begin := time.Now()
	result := ""
	for i := range 21 {
		result += []string{
			strconv.Itoa(i), "Fizz", "Buzz", "FizzBuzz",
		}[toInt[i%3 == 0]+toInt[i%5 == 0]<<1] + "\n"
	}
	fmt.Println("GO LANG")
	fmt.Println(time.Since(begin))
	fmt.Print(result)
}'></code-input>
<script>
	me('-').on('input', _=>{
		const lang = me('#code').attribute('language')
		if (!lang) { me('#lang').innerText = 'Code Executor: null'; return }
		me('#lang').innerText = 'Code Executor: ' + lang
	})
</script>
{{template "b"}}