{{template "t"}}
<div class="box">
<h1 class="title has-text-primary">Site Markdown Notes 📒</h1>
<div class="tabs">
	<ul>
		<li class="is-active"><a fx-method="GET" fx-action="/?md=summary.md" fx-trigger="fx:inited|click" fx-target="#content">Summary</a></li>
		<li><a fx-method="GET" fx-action="/?md=moxyproxy.md" fx-target="#content">MoxyProxy</a></li>
		<li><a fx-method="GET" fx-action="/?md=codeexec.md" fx-target="#content">Code Executor</a></li>
		<li><a fx-method="GET" fx-action="/?md=three.md" fx-target="#content">ThreeJS</a></li>
		<li><a fx-method="GET" fx-action="/?md=apiflattener.md" fx-target="#content">API Flattener</a></li>
		<li><a fx-method="GET" fx-action="/?md=markdown.md" fx-target="#content">Markdown Editor</a></li>
		<li><a fx-method="GET" fx-action="/?md=fyne.md" fx-target="#content">Fyne Apps</a></li>
		<li><a fx-method="GET" fx-action="/?md=duckdb.md" fx-target="#content">DuckDB Scrub</a></li>
	</ul>
	<script>
		me('-').on('click', e=>{
			me('.is-active').classList.remove('is-active')
			e.target.parentElement.classList.add('is-active')
		})
	</script>
</div>
<div id="content" class="content"></div>
{{template "b"}}