{{define "t"}}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>MATTASCALE</title>
	<meta charset="UTF-8">
	<meta name="description" content="Project Website for Testing Ideas">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="https://mattascale.com/moxyproxy/static/favicon.ico">
	<script src="https://mattascale.com/moxyproxy/static/js/surreal.js"></script>
	<script src="https://mattascale.com/moxyproxy/static/js/fixi.js"></script>
	<script src="https://mattascale.com/moxyproxy/static/js/highlight.min.js"></script>
	<script src="https://mattascale.com/moxyproxy/static/js/sql.min.js"></script>
	<script src="https://mattascale.com/moxyproxy/static/js/code-input.min.js"></script>
	<script src="https://mattascale.com/moxyproxy/static/js/auto-close-brackets.min.js"></script>
	<script src="https://mattascale.com/moxyproxy/static/js/indent.min.js"></script>
	<script src="https://mattascale.com/moxyproxy/static/js/lucide.min.js"></script>
	<script src="https://mattascale.com/moxyproxy/public/marked.min.js"></script>
	<script src="https://mattascale.com/moxyproxy/public/bash.min.js"></script>
	<script src="https://mattascale.com/moxyproxy/public/go.min.js"></script>
	<script src="https://mattascale.com/moxyproxy/public/javascript.min.js"></script>
	<script src="https://mattascale.com/moxyproxy/public/markdown.min.js"></script>
	<script src="https://mattascale.com/moxyproxy/public/python.min.js"></script>
	<script src="https://mattascale.com/moxyproxy/public/typescript.min.js"></script>
	<script src="https://mattascale.com/moxyproxy/public/autodetect.min.js"></script>
	<script src="/common.js"></script>
	<script src="/apiflattener.js"></script>
	<link rel="stylesheet" href="https://mattascale.com/moxyproxy/static/css/bulma.min.css">
	<link rel="stylesheet" href="https://mattascale.com/moxyproxy/static/css/stackoverflow-dark.min.css">
	<link rel="stylesheet" href="https://mattascale.com/moxyproxy/static/css/code-input.min.css">
	<link rel="stylesheet" href="/common.css">
	<script type="importmap">{
		"imports": {
			"three": "https://cdn.jsdelivr.net/npm/three@latest/build/three.module.min.js",
			"three/addons/": "https://cdn.jsdelivr.net/npm/three@latest/examples/jsm/"
		}
	}</script>
</head>

<body>
	
<article class="message is-danger"><pre id="error" class="message-body is-size-5"></pre></article>
<script>me('#error').on('click', e=>{copyToClipboard(me(e).textContent); me(e).textContent = '';})</script>
<article class="message is-success"><pre id="success" class="message-body is-size-5"></pre></article>
<script>me('#success').on('click', e=>{me(e).textContent = ''})</script>
<button id="scroller" class="button scroller is-warning is-small is-rounded"><i class="pt-1" data-lucide="circle-chevron-up"></i>
	<script>me().on('click', _=>{window.scrollTo({top: 0, behavior: 'smooth'})})</script>
</button>
<nav class="navbar has-shadow">
	<div class="navbar-brand">
		<a class="navbar-item" href="/" fclick>
			<img src="https://mattascale.com/moxyproxy/public/MATTASCALE-full.svg" alt="MATTASCALE" class="invert-dark">
		</a>
		<button class="navbar-burger" aria-label="menu" aria-expanded="false">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</button>
		<script>me('-').on('click', e=>{me(e).classToggle('is-active'); me(e).parentElement.nextElementSibling.classList.toggle('is-active')})</script>
	</div>
	<div class="navbar-menu">
		<div class="navbar-start" fclick>
			<a class="navbar-item" href="/codeexec">Code Executor</a>
			<a class="navbar-item" href="/three">ThreeJS</a>
			<a class="navbar-item" href="/apiflattener">API Flattener</a>
			<a class="navbar-item" href="/markdown">Markdown Editor</a>
			<a class="navbar-item" href="/duckdb">DuckDB Scrub</a>
		</div>
		<div class="navbar-end">
			<div class="navbar-item">
				<button class="button is-info is-outlined"><i data-lucide="moon"></i><i data-lucide="sun"></i></button>
				<script>
					me('-').on('click', _=>{
						theme = theme === 'dark' ? 'light' : 'dark'
						me("html").attr('data-theme', theme)
						localStorage.setItem('theme', theme)
					})
				</script>
				<a class="button is-warning is-outlined" href="https://gitlab.com/figuerom16" title="Gitlab" target="_blank" rel="noopener noreferrer"><i data-lucide="gitlab"></i></a>
			</div>
		</div>
	</div>
</nav>
<main class="container px-4" style="max-width: 2400px;">
{{end}}

{{define "b"}}
</main>
<script>lucide.createIcons()</script>
</body>
</html>
{{end}}