{{template "t"}}
<script>
	codeInput.registerTemplate("syntax-highlighted", codeInput.templates.hljs(hljs, [new codeInput.plugins.AutoCloseBrackets(), new codeInput.plugins.Indent(true, 4)]))
</script>
<dialog id="cheatsheet" class="has-background-info">
<script>me().on('click', e=>{if (e.target.contains(me('dialog'))) me(e).close()})</script>
<header><h3>Syntax Cheatsheet</h3></header>
<h4>Phrase Emphasis</h4>

<pre><code>*italic*   **bold**</code></pre>

<h4>Links</h4>
<p>Inline:</p>

<pre><code>An [example](http://url.com/ "Title")
</code></pre>
<p>Reference-style labels (titles are optional):</p>
<pre><code>An [example][id]. Then, anywhere
else in the doc, define the link:

[id]: http://example.com/  "Title"
</code></pre>

<h4>Images</h4>
<p>Inline (titles are optional):</p>

<pre><code>![alt text](/path/img.jpg "Title")
</code></pre>

<p>Reference-style:</p>

<pre><code>![alt text][id]

[id]: /url/to/img.jpg "Title"
</code></pre>

<h4>Headers</h4>

<p>Setext-style:</p>

<pre><code>Header 1
========

Header 2
--------
</code></pre>

<p>atx-style (closing #'s are optional):</p>

<pre><code># Header 1 #

## Header 2 ##

###### Header 6
</code></pre>

<h4>Lists</h4>

<p>Ordered, without paragraphs:</p>

<pre><code>1.  Foo
2.  Bar
</code></pre>

<p>Unordered, with paragraphs:</p>

<pre><code>*   A list item.

    With multiple paragraphs.

*   Bar
</code></pre>

<p>You can nest them:</p>

<pre><code>*   Abacus
    * answer
*   Bubbles
    1.  bunk
    2.  bupkis
        * BELITTLER
    3. burper
*   Cunning
</code></pre>

<h4>Blockquotes</h4>

<pre><code>&gt; Email-style angle brackets
&gt; are used for blockquotes.

&gt; &gt; And, they can be nested.

&gt; #### Headers in blockquotes
&gt; 
&gt; * You can quote a list.
&gt; * Etc.
</code></pre>

<h4>Code Spans</h4>

<pre><code>`&lt;code&gt;` spans are delimited
by backticks.

You can include literal backticks
like `` `this` ``.
</code></pre>

<h4>Preformatted Code Blocks</h4>

<p>Indent every line of a code block by at least 4 spaces or 1 tab.</p>

<pre><code>This is a normal paragraph.

    This is a preformatted
    code block.
</code></pre>

<h4>Horizontal Rules</h4>

<p>Three or more dashes or asterisks:</p>

<pre><code>---

* * *

- - - - 
</code></pre>

<h4>Manual Line Breaks</h4>

<p>End a line with two or more spaces:</p>

<pre><code>Roses are red,   
Violets are blue.
</code></pre>
</dialog>

<div class="box is-flex is-gap-2">
	<h2 class="is-size-2">Markdown Editor</h2>
	<button class="button"><span class="icon"><i data-lucide="info"></i></span><span>Cheatsheet</span></button>
	<script>me('-').on('click', _=>{me('#cheatsheet').showModal()})</script>
</div>

<div class="columns">
	<div class="column">
		<code-input id="md" language="markdown" style="height:100vh">## ***MARKDOWN RENDERER BY:*** [Marked](https://marked.js.org/)

### Markdown Basic Syntax
---

I just love **bold text**. Italicized text is the *cat's meow*. At the command prompt, type \`nano\`.

1. First item
2. Second item
3. Third item  

> Dorothy followed her through many of the beautiful rooms in her castle...
>
>> Until they came to the kitchen, where the Witch bade her clean the pots and kettles and sweep the floor and keep the fire fed with wood.  

```
me('#render').innerHTML = marked.parse(me(e).innerText)
```

### GFM Extended Syntax
---

~~The world is flat.~~ We now know that the world is round.

- [x] Write the press release
- [ ] Update the website
- [ ] Contact the media

| Syntax    | Description |
| --------- | ----------- |
| Header    | Title       |
| Paragraph | Text        |  
		</code-input>
		<script>me('-').on('input', e=>{me('#render').innerHTML = marked.parse(me(e).value)})</script>
	</div>
	<div class="column"><div id="render" class="content"></div>
	<script>me('#render').innerHTML = marked.parse(me('#md').textContent)</script>
</div>
{{template "b"}}