{{template "t"}}
<p class="three-mattascale">MATTASCALE</p>
<script type="module">
import * as THREE from 'three'
import { OrbitControls } from 'three/addons/controls/OrbitControls.js'

// Animate the scene
let rotation = 0
function animate() {
	requestAnimationFrame(animate)
	rotation += 0.005
	group.rotation.y = rotation
	renderer.render(scene, camera)
}

// Set up the scene, camera, and renderer
const scene = new THREE.Scene()
const camera = new THREE.PerspectiveCamera(24, window.innerWidth / window.innerHeight, 0.1, 1000)
camera.position.set(4, 2, 0);

const renderer = new THREE.WebGLRenderer()
renderer.setSize(window.innerWidth, window.innerHeight-60)
document.body.appendChild(renderer.domElement)

// Handle window resize
window.addEventListener('resize', () => {
	camera.aspect = window.innerWidth / window.innerHeight
	camera.updateProjectionMatrix()
	renderer.setSize(window.innerWidth, window.innerHeight)
})

// Add OrbitControls
const controls = new OrbitControls(camera, renderer.domElement)
controls.enableZoom = true
controls.target.set(0, 0.5, 0)
controls.update()

// Add DirectionalLight
const directionalLight = new THREE.DirectionalLight(0xFFFFFF, 10)
directionalLight.position.set(3, 10, 5)
directionalLight.castShadow = true
scene.add(directionalLight)

// Create geometries and materials
const geometry = new THREE.SphereGeometry(5, 20, 10)
const material = new THREE.MeshStandardMaterial({ roughness: 0.4, metalness: 1 })

const group = new THREE.Group()
scene.add(group)

const lineSegments = new THREE.LineSegments(geometry)
group.add(lineSegments)

const torusKnotGeometry = new THREE.TorusKnotGeometry(0.1, 0.04)
const torusKnotMesh = new THREE.Mesh(torusKnotGeometry, material)
torusKnotMesh.position.set(0.4, 0.7, 0)
group.add(torusKnotMesh)

const cylinderGeometry = new THREE.CylinderGeometry(0.5, 0.5, 0.2, 6)

const cylinderMesh1 = new THREE.Mesh(cylinderGeometry, material)
cylinderMesh1.position.set(0, 0.6, 0)
group.add(cylinderMesh1)

const cylinderMesh2 = new THREE.Mesh(cylinderGeometry, material)
cylinderMesh2.position.set(0, 0.3, 0)
group.add(cylinderMesh2)

const cylinderMesh3 = new THREE.Mesh(cylinderGeometry, material)
cylinderMesh3.position.set(0, 0, 0)
group.add(cylinderMesh3)

animate()
</script>
{{template "b"}}