@view-transition {navigation: auto;}

[data-theme=dark] .invert-dark {filter: invert(1);}
[data-theme=dark] .lucide-sun {display: none;}
[data-theme=light] .lucide-moon {display: none;}

article:has(.message-body:empty) { display: none; }

.cell {
	border-style: solid;
	border-width: thin;
	overflow: hidden;
	white-space: nowrap;
	padding: 0.2rem;
}

.nowrap { white-space: nowrap; }

.hide-empty:empty{
	display: none;
}

.three-mattascale {
	font-weight: bold;
	font-size: 6vw;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 97;
	background: linear-gradient(to right, purple, blue);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
}

.message {
	font-weight: bold;
	position: fixed;
	top: 4rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 99;
}

.scroller {
	display: none;
	position: fixed;
	top: 3rem;
	right: 1rem;
	z-index: 98;
}